body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#e66465, #9198e5);
}

.game-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.board-line {
  display: flex;
  gap: 5px;
}

.board-cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 4px;
  background-color: white;
  opacity: 1;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightgrey;
}

.wrong-place {
  background-color: lightyellow;
}

.refresh-btn {
  padding: 5px 10px;
  font-size: 1rem;
  background: linear-gradient(135deg, #00e5ff, #06bfe3);
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}
